body{
    background-color: rgb(54, 110, 212);
    font: 15pt 'Calibre';
}

header{
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: white;
}

section{
    background-color: white;
    border-radius: 3px;
    padding: 15px;
    width: 500px;
    margin: auto;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.466);
}

footer{
    text-align: center;
    color:white;
    font-style: italic;
}

img{
    height: 300px;
    border-radius: 10%;
}

#msg{
    text-align: center;

}